@use "variable" as var;

:root {
    --color-silver: #{var.$color-silver};
    --color-gray: #{var.$color-gray};
    --color-primary: #{var.$color-primary};
    --color-bg-border: #{var.$color-bg-border};
    --color-danger: #{var.$color-danger};
    --color-warning: #{var.$color-warning};
    --color-success: #{var.$color-success};
}