@mixin select-base {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: solid 1px var(--color-bg-border);
    box-shadow: 0px 2px 2px 0px color-mix(in srgb, var(--color-bg-border) 25%, transparent);

    &:focus {
        outline: 1px solid var(--color-primary);
    }
    &:not(.neutral):user-valid, &.vaild {
        outline: 1px solid var(--color-success);
    }
    &:not(.neutral):invalid, &.invaild {
        outline: 1px solid var(--color-danger);
    }
}

select.lq {
    @include select-base;
    option {
        font-size: 1rem;
    }
}